---

import "../styles/tailwind.css";
const { title = "Mascotas" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
     <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      :root{
        --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI",
          Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Arial,
          "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      }
    </style>
  </head>
  <body class="min-h-screen bg-white text-gray-900" style="font-family: var(--font-sans);">
    <slot />
  </body>
</html>
